.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 4rem;
}

.slides{
    width: calc(350px * 3);
    margin: 0;
}

.slides1 {
    animation: glisse 25s infinite;
}

.slides2 {
    animation: glisse 28s infinite;
}

.slides3 {
    animation: glisse 31s infinite;
}


.slider{
    border-radius: 50%;
    width: 350px;
    overflow: hidden;
    margin: 3.5rem auto 1.5rem auto;
    border: solid 2px rgba(240, 248, 255, 0.507);
}

.slide{
    border-radius: 50%;
    float: left;
    width: 350px;
    height: 300px;
}

.slide>img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.home__presentation{
    line-height: 32px;
    width: 60%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & p:first-child {
        margin-bottom: 1rem;
    }
}


.presentation__img{
    width: 400px;

    &>img {
        border-radius: 0.75rem;
    }
}

.presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 70%;
    padding: 2rem;
    border-radius: 0.75rem;
    background-color: rgba(240, 248, 255, 0.507);

    &__link {
        display: flex;
        gap: 1rem;
        padding-top: 0.5rem;

        &>.store-nav__link {
            background-color: rgba(238, 140, 191, 0.65);
        }
    }
}

@media only screen and (max-width: 1400px) {

    .presentation {
        padding: 1rem;
    }

    .home__presentation {
        line-height: normal;
        font-size: 1.25rem;
    }

    .slider {
        margin-top: 2rem;
        width: 280px;
    }

    .slide {
        width: 280px;
        height: 240px;
    }

    .slides {
        width: 840px;
    }

    .presentation__img {
        width: 280px;
    }

}

@media only screen and (max-width: 1200px) {
    .slider{
        &:first-child{
            display: none;
        }
    }

    .presentation{
        width: 95%;
    }

    .home {
        gap: 1rem;
    }

}

@media only screen and (max-width: 750px) {

    .home__presentation {
        font-size: 1rem;
    }

}

@media only screen and (max-width: 680px) {
    .slider:first-child{
        display: none;
    }

}

@media only screen and (max-width: 650px) {

    .home{
        gap: 0;
    }

    .presentation{
        flex-direction: column;
        gap: 1rem;
        width: 70%;

        &__link {
            justify-content: center;
        }
    }

    .presentation__img{
        margin: auto;
        width: 60%;
        order: 2;
    }

    .home__presentation{
        font-size: 0.7rem;
        order: 1;
        width: 100%;
    }

    .slider {
        width: 250px;
    }

    .slide {
        width: 250px;
        height: 220px;
    }

    .slides {
        width: 750px;
    }

}

@media only screen and (max-width: 400px) {

    .home__presentation{
        font-size: 0.6rem;
    }
}

@keyframes glisse {
    0%{
        transform: translateX(0);
    }

    15%{
        transform: translateX(0);
    }

    25%{
        transform: translateX(-33.333333333333333333333333333333333333333333%);
    }
    40%{
        transform: translateX(-33.333333333333333333333333333333333333333333%);
    }

    50%{
        transform: translateX(-66.666666666666666666666666666666666666666666%);
    }

    60%{
        transform: translateX(-66.666666666666666666666666666666666666666666%);
    }

    75%{
        transform: translateX(-33.333333333333333333333333333333333333333333%);
    }

    85%{
        transform: translateX(-33.333333333333333333333333333333333333333333%);
    }

    100%{
        transform: translateX(0);
    }
}