@use '../../styles/vars';

.confirmation {
    max-width: 700px;
    margin: auto;
    border-radius: vars.$border-radius;
    padding: 2rem;
}

@media only screen and (max-width: 550px) {
    .confirmation {
        padding: 1rem;
        padding-top: 2rem;
    }
}