@use '../../styles/vars';

.auth {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 4rem;

    &-container-signup {
        width: 450px;
    }

    &-container-login{
        width: 450px;
    } 
}

.isClient{
    display: none;

    &--close{
        display: none;
    }
}

@media only screen and (max-width: 1100px) {
    .auth {
        padding: 2rem;
        padding-bottom: 4rem;

        &-container-signup {
            width: 350px;
        }
    
        &-container-login{
            width: 350px;
        } 
    }

}

@media only screen and (max-width: 800px) {
    .auth-container-signup{
        display: none;

        &--open{
            display: block;
        }
    }



    .isClient{
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        border-radius: vars.$border-radius;

        &--close{
            display: none;
        }
    }

    .auth-container-login{
        width: 70%;

        &--close{
            display: none;
        }
    }
}

@media only screen and (max-width: 600px) {

    .auth-container-login{
        width: 95%;
    }

    .auth {
        padding: 2rem 1rem 4rem 1rem;
    }
}

@media only screen and (max-width: 350px) {
    .auth-container-login{
        width: 100%;
    }
}
