.isClient{
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
}

.login {
    &__title {
        text-align: center;
    }
    &__message {
        text-align: center;
        color: green;
    }
}